@charset "UTF-8";
@media screen and (min-width: 768px) {
    body {
        width: 100%;
        background-color: #333333;
    }
    #header {
        width: 100%;
        height: 6.4rem;
        position: fixed;
        background-color: #333333;
        z-index: 999;
    }
    .header-logo {
        float: left;
        margin-left: 4.8rem;
    }
    .header-right {
        float: right;
        
    }
    .header-right nav {
        padding: 2.4rem 0;
    }
    nav a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        margin-right: 2.4rem;
    }
    .openbtn {
        display: none;
    }
    .shadow {
        box-shadow: 0 0 16px rgba(255, 255, 255, 0.8);
    }     
    .main-image > div {
        background-color: #fff;
        margin-bottom: 4.8rem;
        width: 100%;
        height: 90vh;
        position: relative;
    }
    .main-image > div > img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
    }
    h1 {
        font-size: 4.8rem;
    }
    .catchcopy {
        position: absolute;
        width: 100%;
        top: 30rem;
        text-align: center;
    }
    section {
        width: 100%;
    }
    h2 {
        font-size: 36px;
        text-align: center;
        margin: 2.4rem 0;
    }
    .flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .service-content {
        margin: 2.4rem;
        padding: 3rem 0;
        max-width: 450px;
        align-items: center;
    }
    #service > div > img {
        margin: 2.4rem;
    }
    h3 {
        font-size: 2.4rem;
        text-align: center;
        margin: 1.5rem 0;
    }
    p {
        line-height: 2.4rem;
        text-align: center;
    }
    .works {
        max-width: 450px;
        margin: 2.4rem;
        overflow: hidden;
    }
    .works > div {
        overflow: hidden;
        background-color: #fff;
    }
    .works > p > a:link, 
    .works > p > a:visited, 
    .works > p > a:active {
        text-decoration: none;
        color: #FFF500;
    }
    .works > p > a:hover {
        color: #FFF500;
        text-decoration: underline;
    }

    .works > div > a > img:hover {
        transform: scale(1.2);
        transition-duration: 0.5s;
        opacity: 0.8;
        cursor: pointer;
    }
    .works > p {
        padding: 0.5rem;
    }
    .biography-text, .myself-text {
        margin: 2.4rem;
    }
    form {
        width: 100%;
        max-width: 1000px;
        margin: 4.8rem auto;
    }
    #contact > form > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 2.4rem;
    }
    .contact-heading {
        width: 240px;
        align-self: center;
    }
    .contact-label {
        width: 200px;
        font-weight: bold;
    }
    .contact-span {
        color: #FF0000;
        margin-left: 1.6rem;
    }
    .contact-textbox {
        width: 450px;
        height: 48px;
    }
    .contact-textarea {
        width: 450px;
        height: 350px;
        padding: 1rem 0.5rem;
    }
    .radio {
        width: 450px;
    }
    .btn-send {
        font-size: 1.8rem;
        font-weight: bold;
        line-height: 1.5;
        padding: 2rem 6rem;
        cursor: pointer;
        letter-spacing: 0.1em;
        border-radius: 100vh;
        margin-left: 60rem;
    }
    footer {
        width: 100%;      
    }
    footer > div {
        text-align: center;
    }
    .copyright {
        font-size: 1.2rem;
        margin: 2.4rem 0;
    }
    .btn-top {
        font-size: 1.8rem;
        font-weight: bold;
        line-height: 1.5;
        color: #333;
        padding: 2rem 6rem;
        cursor: pointer;
        letter-spacing: 0.1em;
        background-color: #fff;
        border-radius: 100vh;
        float: right;
    }
}

@media screen and (max-width: 767px) {
    body {
        background-color: #333333;
    }
    #header {
        width: 100%;
        position: fixed;
        z-index: 999;
        background-color: #333333;
    }
    .header-logo {
        width: 200px;
        margin: 0 auto;
    }
    .header-right {
        display: none;
    }
    .shadow {
        box-shadow: 0 0 16px rgba(255, 255, 255, 0.8);
    }     
    .main-image {
        position: relative;
    }
    .main-image > div {
        background-color: #fff;
        margin-bottom: 4.8rem;
        width: 100%;
        height: 320px;
        position: relative;
    }
    .main-image > div > img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
    }
    h1 {
        font-size: 3rem;
    }
    .catchcopy {
        position: absolute;
        width: 100%;
        top: 15rem;
        text-align: center;
    }
    section {
        width: 100%;
    }
    h2 {
        font-size: 36px;
        text-align: center;
        margin: 2.4rem 0;
    }
    .flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .service-content {
        margin: 2.4rem;
        padding: 3rem 0;
        max-width: 450px;
        align-items: center;
    }
    #service > div > img {
        margin: 2.4rem;
    }
    h3 {
        font-size: 2.4rem;
        text-align: center;
        margin: 1.5rem 0;
    }
    p {
        line-height: 2.4rem;
        text-align: center;
    }
    .works {
        max-width: 450px;
        margin: 2.4rem;
        overflow: hidden;
    }
    .works > div {
        overflow: hidden;
        background-color: #fff;
    }
    .works > p > a:link, 
    .works > p > a:visited, 
    .works > p > a:active {
        text-decoration: none;
        color: #FFF500;
    }
    .works > p > a:hover {
        color: #FFF500;
        text-decoration: underline;
    }
    .works > div > a > img:hover {
        transform: scale(1.2);
        transition-duration: 0.5s;
        opacity: 0.8;
        cursor: pointer;
    }
    .works > p {
        padding: 0.5rem;
    }
    .biography-text, .myself-text {
        margin: 2.4rem;
    }
    form {
        width: 100%;
        margin: 4.8rem auto;
    }
    #contact > form > div {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2.4rem;
        width: 100%;
    }
    .contact-heading {
        width: 240px;
        align-self: center;
        margin-bottom: 20px;
    }
    .contact-label {
        width: 200px;
        font-weight: bold;
    }
    .contact-span {
        color: #FF0000;
        margin-left: 1.6rem;
    }
    .contact-form {
        width: 100%;
    }
    .contact-textbox {
        width: 100%;
        height: 48px;
    }
    .contact-textarea {
        width: 100%;
        height: 350px;
        padding: 1rem 0.5rem;
    }
    .radio {
        width: 450px;
    }
    .btn-send {
        font-size: 1.8rem;
        font-weight: bold;
        line-height: 1.5;
        padding: 2rem 6rem;
        cursor: pointer;
        letter-spacing: 0.1em;
        border-radius: 100vh;
    }
    footer {
        width: 100%;      
    }
    footer > div {
        text-align: center;
    }
    .copyright {
        font-size: 1.2rem;
        margin: 2.4rem 0;
    }
    .btn-top {
        font-size: 1.8rem;
        font-weight: bold;
        line-height: 1.5;
        padding: 2rem 6rem;
        cursor: pointer;
        letter-spacing: 0.1em;
        color: #333;
        background-color: #fff;
        border-radius: 100vh;
        float: right;
    }
}